@model List<LearnLink.Models.Quiz> 

< !DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student LearnLink</title>
    <link href="@Url.Content("/Content/dashboard.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/ShowCourseMaterials.css")" rel="stylesheet" />
</head>
<body>
    <div class="responsive-wrapper">
        <div class="app">
            <div class="app-header">
                <div class="logo">
                    <div class="logo-icon">
                        <ion-icon name="school-outline"></ion-icon>
                    </div>
                    <div class="logo-title">
                        <span>LearnLink</span>
                        <span>Student Dashboard</span>
                    </div>
                </div>
                <div class="app-header-navigation">
                    <!-- Add any additional navigation items here if needed -->
                </div>
                <div class="app-header-actions">
                    <h3>Dashboard</h3>
                    <div class="app-header-actions-buttons">
                        <ion-icon size="large" name="person-circle"></ion-icon>
                        <h3>@HttpContext.Current.Session["UserName"]</h3>
                    </div>
                </div>
                <div class="app-header-mobile">
                    <h3>Dashboard</h3>
                    <ion-icon size="large" name="person-circle"></ion-icon>
                    <h3>@HttpContext.Current.Session["UserName"]</h3>
                </div>
            </div>

            <div class="app-body">
                <div class="app-body-navigation">
                    <nav class="navigation">
                        <a href="@Url.Action("AllCourse", "AllCourse")">
                            <i class="icon ion-md-book"></i>
                            <span>All Courses</span>
                        </a>
                        <a href="@Url.Action("ViewEnrolledCourses", "StudentEnrolledCourses")">
                            <i class="icon ion-md-person-add"></i>
                            <span>Enrolled Courses</span>
                        </a>
                        <a href="@Url.Action("giveAssessments", "giveAssessments")">
                            <i class="icon ion-md-checkmark-circle"></i>
                            <span>Take Assessments</span>
                        </a>
                        <a href="@Url.Action("seeFeedback", "seeFeedback")">
                            <i class="icon ion-md-text"></i>
                            <span>See Feedback</span>
                        </a>
                        <a href="@Url.Action("editStudentProfile", "editStudentProfile")">
                            <i class="icon ion-md-person"></i>
                            <span>Edit Profile</span>
                        </a>
                        <a href="@Url.Action("login", "Login")">
                            <i class="icon ion-md-exit"></i>
                            <span>Log Out</span>
                        </a>
                    </nav>
                </div>

                <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

                <div class="app-body-content">
                    <div class="tiles">
                        @foreach (var quiz in Model)
                        {
                            <div class="tile">
                                <div class="tile-header">
                                    <i class="icon ion-md-book"></i>
                                    <h3>
                                        <span>Quiz Name : @quiz.Title</span>
                                    </h3>
                                </div>
                                <p>Course ID   : @quiz.CourseID</p>
                                <p>Course Name :@quiz.CourseName</p>
                                <p>Created on  : @quiz.CreationDate.ToShortDateString()</p>
                                <div class="button-container">
                                    <a href="@Url.Action("StartQuiz", "Quiz", new { id = quiz.QuizID })" class="btn btn-start">Start</a>
                                    <a href="@Url.Action("StudentParticipation", "Quiz", new { id = quiz.QuizID })" class="btn btn-participation">See Student Participation</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <br /><br />
            <h1>
                LearnLink
                <small>Student</small>
            </h1>
            <div>
                &copy; 2024 LearnLink. All rights reserved.
            </div>
        </div>
    </div>

    </div>
</body>
</html>
