@model List<LearnLink.Models.User>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrolled Students</title>
    <link href="@Url.Content("/Content/dashboard.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/Enroll_Student.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/backbutton2.css")" rel="stylesheet" />

</head>
<body>
    <div class="responsive-wrapper">
        <div class="app">
            <div class="app-header">
                <div class="logo">
                    <div class="logo-icon">
                        <ion-icon name="school-outline"></ion-icon>
                    </div>
                    <div class="logo-title">
                        <span>LearnLink</span>
                        <span>@HttpContext.Current.Session["UserRole"]</span>
                    </div>
                </div>
                <div class="app-header-actions">
                    <h3>Enrolled Students</h3>
                    <div class="app-header-actions-buttons">
                        <ion-icon size="large" name="person-circle"></ion-icon>
                        <h3>@HttpContext.Current.Session["UserName"]</h3>
                    </div>
                </div>
                <div class="app-header-mobile">
                    <h3>Enrolled Students</h3>
                    <ion-icon size="large" name="person-circle"></ion-icon>
                    <h3>@HttpContext.Current.Session["UserName"]</h3>
                </div>
            </div>

            <div class="app-body">
                <div class="app-body-navigation">
                    <nav class="navigation">
                        <a href="@Url.Action("ManageCourse", "ManageCourse")">
                            <i class="icon ion-md-book"></i>
                            <span>Manage Courses</span>
                        </a>
                        <a href="@Url.Action("createCourse", "createCourse")">
                            <i class="icon ion-md-add-circle"></i>
                            <span>Create Courses</span>
                        </a>
                        <a href="@Url.Action("courseMaterials", "courseMaterials")">
                            <i class="icon ion-md-add-circle"></i>
                            <span>Course Materials</span>
                        </a>
                        <a href="@Url.Action("enrollStudents", "enrollStudents")">
                            <i class="icon ion-md-person-add"></i>
                            <span>Enroll Students</span>
                        </a>
                        <a href="@Url.Action("reviewAssessments", "reviewAssessments")">
                            <i class="icon ion-md-checkmark-circle"></i>
                            <span>Review Courses</span>
                        </a>
                        <a href="@Url.Action("giveFeedback", "giveFeedback")">
                            <i class="icon ion-md-text"></i>
                            <span>Provide Feedback</span>
                        </a>
                        <a href="@Url.Action("editteacherProfile", "editteacherProfile")">
                            <i class="icon ion-md-person"></i>
                            <span>Edit Profile</span>
                        </a>
                        <a href="@Url.Action("login", "Login")">
                            <i class="icon ion-md-exit"></i>
                            <span>Log Out</span>
                        </a>
                    </nav>
                </div>

                <div class="app-body-content">
                    <table class="transparent-table">
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Institution</th>
                                <th>Phone Number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model)
                            {
                                <tr>
                                    <td>@student.UserID</td>
                                    <td>@student.Name</td>
                                    <td>@student.Institution</td>
                                    <td>@student.Phone</td>
                                    <td>

                                        <a href="@Url.Action("UnenrollStudent", "enrollStudents", new { studentID = student.UserID, courseID = ViewBag.CourseID ,page=0})" class="view-ac-button">
                                            <span class="view-button">Unenroll</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br /><br />
                    <div>
                        
                        <button type="button" class="btn btn-back" onclick="window.location.href='/ManageCourse/ManageCourse'">Back</button>
                    </div>
                </div>

            </div>

            <div class="footer">
                <h1>
                    LearnLink
                    <small>Teacher</small>
                </h1>
                <div>
                    &copy; 2024 LearnLink. All rights reserved.
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
