@model List<LearnLink.Models.Quiz>
@{
    var alertMessage = TempData["AlertMessage"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student LearnLink</title>
    <link href="@Url.Content("/Content/dashboard.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/UnEnrollBut.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/backbutton2.css")" rel="stylesheet" />
</head>
<body>
    <div class="responsive-wrapper">
        <div class="app">
            <div class="app-header">
                <div class="logo">
                    <div class="logo-icon">
                        <ion-icon name="school-outline"></ion-icon>
                    </div>
                    <div class="logo-title">
                        <span>LearnLink</span>
                        <span>@HttpContext.Current.Session["UserRole"]</span>
                    </div>
                </div>
                <div class="app-header-navigation">
                    <!-- Add any additional navigation items here if needed -->
                </div>
                <div class="app-header-actions">
                    <h3>Quiz</h3>
                    <div class="app-header-actions-buttons">
                        <ion-icon size="large" name="person-circle"></ion-icon>
                        <h3>@HttpContext.Current.Session["UserName"]</h3>
                    </div>
                </div>
                <div class="app-header-mobile">
                    <h3>Quiz</h3>
                    <ion-icon size="large" name="person-circle"></ion-icon>
                    <h3>@HttpContext.Current.Session["UserName"]</h3>
                </div>
            </div>

            <div class="app-body">
                @{
                    if (Session["UserRole"].Equals("Student"))
                    {
                        <div class="app-body-navigation">
                            <nav class="navigation">
                                <a href="@Url.Action("AllCourse", "AllCourse")">
                                    <i class="icon ion-md-book"></i>
                                    <span>All Courses</span>
                                </a>
                                <a href="@Url.Action("ViewEnrolledCourses", "StudentEnrolledCourses")">
                                    <i class="icon ion-md-person-add"></i>
                                    <span>Enrolled Courses</span>
                                </a>
                                <a href="@Url.Action("Assessment", "Assessment")">
                                    <i class="icon ion-md-checkmark-circle"></i>
                                    <span>Assessments</span>
                                </a>
                                
                                <a href="@Url.Action("editStudentProfile", "editStudentProfile")">
                                    <i class="icon ion-md-person"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <a href="@Url.Action("login", "Login")">
                                    <i class="icon ion-md-exit"></i>
                                    <span>Log Out</span>
                                </a>
                            </nav>
                        </div>
                    }
                    else
                    {
                        <div class="app-body-navigation">
                            <nav class="navigation">
                                <a href="@Url.Action("ManageCourse", "ManageCourse")">
                                    <i class="icon ion-md-book"></i>
                                    <span>Manage Courses</span>
                                </a>
                                <a href="@Url.Action("createCourse", "createCourse")">
                                    <i class="icon ion-md-add-circle"></i>
                                    <span>Create Courses</span>
                                </a>
                                <a href="@Url.Action("courseMaterials", "courseMaterials")">
                                    <i class="icon ion-md-add-circle"></i>
                                    <span>CourseMaterials</span>
                                </a>
                                <a href="@Url.Action("enrollStudents", "enrollStudents")">
                                    <i class="icon ion-md-person-add"></i>
                                    <span>Enroll Students</span>
                                </a>
                                <a href="@Url.Action("Assessment", "Assessment")">
                                    <i class="icon ion-md-checkmark-circle"></i>
                                    <span>Assessments</span>
                                </a>
                                
                                <a href="@Url.Action("editteacherProfile", "editteacherProfile")">
                                    <i class="icon ion-md-person"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <a href="@Url.Action("login", "Login")">
                                    <i class="icon ion-md-exit"></i>
                                    <span>Log Out</span>
                                </a>
                            </nav>
                        </div>
                    }
                }

                <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



                <div class="app-body-content">
                    <div class="tiles">
                        <script type="text/javascript">
        window.onload = function() {
            var alertMessage = '@alertMessage';
            if (alertMessage) {
                alert(alertMessage);
                window.location.href = '@Url.Action("ViewQuizzes")';
            }
        };
                        </script>
                        @foreach (var quiz in Model)
                        {
                            <div class="clicktile">
                                <div class="tile-header">
                                    <i class="icon ion-md-book"></i>
                                    <h3 style="color:black">
                                        <span>Quiz Name: @quiz.Title</span>
                                    </h3>
                                </div>
                                <p>Title           : @quiz.Title <br />
                                Course ID       : @quiz.CourseID<br />
                                Course Name     : @quiz.CourseName<br />
                                Duration(min)   : @quiz.Duration<br />
                                Uploaded On : @quiz.CreationDate</p>
                                <div class="button-container">
                                    @{
                                        if (quiz.Score != -1)
                                        {
                                           <strong>Your Score : @quiz.Score</strong>
                                        }
                                        else if (quiz.Status == "Started")
                                        {
                                            <a href="@Url.Action("StartQuiz", "StudentViewQuizzes", new { id = quiz.QuizID })" class="tile-buttons view">Start</a>
                                        }
                                        else
                                        {
                                            <strong>Quiz Hasn't Started</strong>
                                        }
                                    }

                                </div>
                            </div>
                        }
                    </div>
                    <br /><br />
                    <div>

                        <button type="button" class="btn btn-back" onclick="window.location.href='/ManageCourse/ManageCourse'">Back</button>
                    </div>
                </div>
            </div>
            <br /><br />

            <div class="footer">
                <h1>
                    LearnLink
                    <small>Student</small>
                </h1>
                <div>
                    &copy; 2024 LearnLink. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
