<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student LearnLink</title>
    <link href="@Url.Content("/Content/dashboard.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/ShowCourseMaterials.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/backbutton2.css")" rel="stylesheet" />

</head>
<body>
    <div class="responsive-wrapper">
        <div class="app">
            <div class="app-header">
                <div class="logo">
                    <div class="logo-icon">
                        <ion-icon name="school-outline"></ion-icon>
                    </div>
                    <div class="logo-title">
                        <span>LearnLink</span>
                        <span>@HttpContext.Current.Session["UserRole"]</span>
                    </div>
                </div>
                <div class="app-header-navigation">
                    <!-- Add any additional navigation items here if needed -->
                </div>
                <div class="app-header-actions">
                    <h3>Assessment</h3>
                    <div class="app-header-actions-buttons">
                        <ion-icon size="large" name="person-circle"></ion-icon>
                        <h3>@HttpContext.Current.Session["UserName"]</h3>
                    </div>
                </div>
                <div class="app-header-mobile">
                    <h3>Assessment</h3>
                    <ion-icon size="large" name="person-circle"></ion-icon>
                    <h3>@HttpContext.Current.Session["UserName"]</h3>
                </div>
            </div>

            <div class="app-body">
                @{
                    if (Session["UserRole"].Equals("Student"))
                    {
                        <div class="app-body-navigation">
                            <nav class="navigation">
                                <a href="@Url.Action("AllCourse", "AllCourse")">
                                    <i class="icon ion-md-book"></i>
                                    <span>All Courses</span>
                                </a>
                                <a href="@Url.Action("ViewEnrolledCourses", "StudentEnrolledCourses")">
                                    <i class="icon ion-md-person-add"></i>
                                    <span>Enrolled Courses</span>
                                </a>
                                <a href="@Url.Action("Assessment", "Assessment")">
                                    <i class="icon ion-md-checkmark-circle"></i>
                                    <span>Assessments</span>
                                </a>
                                <a href="@Url.Action("seeFeedback", "seeFeedback")">
                                    <i class="icon ion-md-text"></i>
                                    <span>See Feedback</span>
                                </a>
                                <a href="@Url.Action("editStudentProfile", "editStudentProfile")">
                                    <i class="icon ion-md-person"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <a href="@Url.Action("login", "Login")">
                                    <i class="icon ion-md-exit"></i>
                                    <span>Log Out</span>
                                </a>
                            </nav>
                        </div>
                    }
                    else
                    {
                        <div class="app-body-navigation">
                            <nav class="navigation">
                                <a href="@Url.Action("ManageCourse", "ManageCourse")">
                                    <i class="icon ion-md-book"></i>
                                    <span>Manage Courses</span>
                                </a>
                                <a href="@Url.Action("createCourse", "createCourse")">
                                    <i class="icon ion-md-add-circle"></i>
                                    <span>Create Courses</span>
                                </a>
                                <a href="@Url.Action("courseMaterials", "courseMaterials")">
                                    <i class="icon ion-md-add-circle"></i>
                                    <span>CourseMaterials</span>
                                </a>
                                <a href="@Url.Action("enrollStudents", "enrollStudents")">
                                    <i class="icon ion-md-person-add"></i>
                                    <span>Enroll Students</span>
                                </a>
                                <a href="@Url.Action("Assessment", "Assessment")">
                                    <i class="icon ion-md-checkmark-circle"></i>
                                    <span>Assessments</span>
                                </a>
                                <a href="@Url.Action("giveFeedback", "giveFeedback")">
                                    <i class="icon ion-md-text"></i>
                                    <span>Provide Feedback</span>
                                </a>
                                <a href="@Url.Action("editteacherProfile", "editteacherProfile")">
                                    <i class="icon ion-md-person"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <a href="@Url.Action("login", "Login")">
                                    <i class="icon ion-md-exit"></i>
                                    <span>Log Out</span>
                                </a>
                            </nav>
                        </div>
                    }
                }

                <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>





                <div class="app-body-content">
                    <div class="tiles">
                        @if (Session["UserRole"] != null && Session["UserRole"].Equals("Teacher"))
                        {
                            <div class="tile">
                                <div class="tile-header">
                                    <i class="icon ion-md-book"></i>
                                    <h3>
                                        <span>Create Quiz</span>
                                    </h3>
                                </div>
                                <a href="@Url.Action("CreateQuiz", "CreateQuiz")">
                                    <span></span>
                                    <button class="icon-button">
                                        <i class="icon ion-md-arrow-forward"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="tile">
                                <div class="tile-header">
                                    <i class="icon ion-md-book"></i>
                                    <h3>
                                        <span>Upload Quiz</span>
                                    </h3>
                                </div>
                                <a href="@Url.Action("UploadQuiz", "CreateQuiz")">
                                    <span></span>
                                    <button class="icon-button">
                                        <i class="icon ion-md-arrow-forward"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="tile">
                                <div class="tile-header">
                                    <i class="icon ion-md-book"></i>
                                    <h3>
                                        <span>View Quizzes</span>
                                    </h3>
                                </div>
                                <a href="@Url.Action("ViewQuizzes", "TeacherViewQuizzes")">
                                    <span></span>
                                    <button class="icon-button">
                                        <i class="icon ion-md-arrow-forward"></i>
                                    </button>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="tile">
                                <div class="tile-header">
                                    <i class="icon ion-md-book"></i>
                                    <h3>
                                        <span>Take a Quiz</span>
                                    </h3>
                                </div>
                                <a href="@Url.Action("ViewQuizzes", "StudentViewQuizzes")">
                                    <span></span>
                                    <button class="icon-button">
                                        <i class="icon ion-md-arrow-forward"></i>
                                    </button>
                                </a>
                            </div>

                        }

                    </div><br /><br />
                    <div>
                        <button type="button" class="btn btn-back" onclick="window.location.href='/StudentDashboard/Dashboard'">Back</button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <br /><br />
                <h1>
                    LearnLink
                    <small>Student</small>
                </h1>
                <div>
                    &copy; 2024 LearnLink. All rights reserved.
                </div>
            </div>
        </div>

    </div>
</body>
</html>
