@model LearnLink.Models.Course

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student LearnLink</title>
    <link href="@Url.Content("/Content/courseDescription.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/mid.css")" rel="stylesheet" />
</head>
<body>
    <div class="responsive-wrapper">
        <div class="app">
            <div class="app-header">
                <div class="logo">
                    <div class="logo-icon">
                        <ion-icon name="school-outline"></ion-icon>
                    </div>
                    <div class="logo-title">
                        <span>LearnLink</span>
                        <span>@HttpContext.Current.Session["UserRole"]</span>
                    </div>
                </div>
                <div class="app-header-navigation">
                    <!-- Add any additional navigation items here if needed -->
                </div>
                <div class="app-header-actions">
                    <h3>Course Details</h3>
                    <div class="app-header-actions-buttons">
                        <ion-icon size="large" name="person-circle"></ion-icon>
                        <h3>@HttpContext.Current.Session["UserName"]</h3>
                    </div>
                </div>
                <div class="app-header-mobile">
                    <h3>Course Details</h3>
                    <ion-icon size="large" name="person-circle"></ion-icon>
                    <h3>@HttpContext.Current.Session["UserName"]</h3>
                </div>
            </div>

            <div class="app-body">
                @{
                    if (Session["UserRole"].Equals("Student"))
                    {
                        <div class="app-body-navigation">
                            <nav class="navigation">
                                <a href="@Url.Action("AllCourse", "AllCourse")">
                                    <i class="icon ion-md-book"></i>
                                    <span>All Courses</span>
                                </a>
                                <a href="@Url.Action("ViewEnrolledCourses", "StudentEnrolledCourses")">
                                    <i class="icon ion-md-person-add"></i>
                                    <span>Enrolled Courses</span>
                                </a>
                                <a href="@Url.Action("Assessment", "Assessment")">
                                    <i class="icon ion-md-checkmark-circle"></i>
                                    <span>Assessments</span>
                                </a>
                               
                                <a href="@Url.Action("editStudentProfile", "editStudentProfile")">
                                    <i class="icon ion-md-person"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <a href="@Url.Action("login", "Login")">
                                    <i class="icon ion-md-exit"></i>
                                    <span>Log Out</span>
                                </a>
                            </nav>
                        </div>
                    }
                    else
                    {
                        <div class="app-body-navigation">
                            <nav class="navigation">
                                <a href="@Url.Action("ManageCourse", "ManageCourse")">
                                    <i class="icon ion-md-book"></i>
                                    <span>Manage Courses</span>
                                </a>
                                <a href="@Url.Action("createCourse", "createCourse")">
                                    <i class="icon ion-md-add-circle"></i>
                                    <span>Create Courses</span>
                                </a>
                                <a href="@Url.Action("courseMaterials", "courseMaterials")">
                                    <i class="icon ion-md-add-circle"></i>
                                    <span>CourseMaterials</span>
                                </a>
                                <a href="@Url.Action("enrollStudents", "enrollStudents")">
                                    <i class="icon ion-md-person-add"></i>
                                    <span>Enroll Students</span>
                                </a>
                                <a href="@Url.Action("Assessment", "Assessment")">
                                    <i class="icon ion-md-checkmark-circle"></i>
                                    <span>Assessments</span>
                                </a>
                                
                                <a href="@Url.Action("editteacherProfile", "editteacherProfile")">
                                    <i class="icon ion-md-person"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <a href="@Url.Action("login", "Login")">
                                    <i class="icon ion-md-exit"></i>
                                    <span>Log Out</span>
                                </a>
                            </nav>
                        </div>
                    }
                }

                <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




                <div class="mid">
                    <div class="app-body">
                        <div class="app-body-content">
                            <div class="course-details">
                                <h3 style="color: red;">@Model.CourseName</h3><br /><br />
                                <p><strong>Description:</strong> @Model.CourseDescription</p>
                                <p><strong>Prerequisites:</strong> @Model.CoursePrerequisite</p>
                                <p><strong>Course Fee:</strong> @Model.CourseFee</p>
                                <p><strong>Teacher:</strong> @Model.TeacherName</p>

                                <a href="@Url.Action("EnrollCourse", "enrollCourses", new {  courseId = Model.CourseID,teacherId=Model.TeacherID })" class="tile-buttons view">
                                    <span class="view-button">Enroll</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br /><br />
            <div class="footer">
                <h1>
                    LearnLink
                    <small>Student</small>
                </h1>
                <div>
                    &copy; 2024 LearnLink. All rights reserved.
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
